<!-- Form that will be autopopulated if the student uses their NYU ID to check in -->
<!DOCTYPE html>
<html>
<head>
	<title>Person Info</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js" async></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Tech@NYU Events</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">About</a></li>
        <li><a href="#">Stats</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </div>
  </nav>
  <main>
      <div class="options">
          <a href="search">
              <div class="old box">
                  <h3>Search</h3>
              </div>
          </a>
          <a href="signup">
              <div class="new box">
                  <h3>New User</h3>
              </div>
          </a>
      </div>
  </main>
</body>
</html>