<!-- By Brenton Durkee -->


<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
{#    <link rel="stylesheet"  href="{{ url_for('static', filename="css/bootstrap.min.css") }}"/>#}
    <link rel="stylesheet" href="{{ url_for('static', filename="css/font-awesome.min.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/app.css") }}"/>
  </head>
  <body ng-app="resignApp" ng-controller="mainCtrl">
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Tech@NYU Events</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">About</a></li>
        <li><a href="#">Stats</a></li>
           <li><a href="events">Events</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
    </div>
  </nav>
  <div class="col-sm-8 col-sm-offset-2 main">
{#    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>#}

      <form class="form-horizontal" ng-submit="submit()">
          <h3>Search!</h3>
      <div class="form-group form-group-lg">
        <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-9">
          <input type="text" ng-model="name" typeahead="id.name for id in people | filter:$viewValue | limitTo:8" typeahead-on-select="select($item)" class="form-control input-lg">
        </div>
      </div>
      <div class="form-group form-group-lg">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control input-lg" typeahead="id.contact.email for id in people | filter:$viewValue | limitTo:8" typeahead-on-select="select($item)" class="form-control input-lg" ng-model="email">
        </div>
      </div>
      <div class="form-group form-group-lg">
        <div class="col-sm-offset-2 col-sm-9">
          <button type="submit" class="btn btn-default">Check In</button>
        </div>
      </div>
    </form>

{#    <hr>#}
{#    <h1>For Dev Use Only</h1>#}
{#    <h3>Found Person</h3>#}
{#    {{name}} | {{email}}#}
{#    <h3>Avaliable People</h3>#}
{#    <p ng-repeat="id in people">{{id.name}} | {{id.contact.email}}</p>#}
  </div>
  <script src="{{ url_for('static', filename="js/jquery.min.js") }}"></script>
  <script src="{{ url_for('static', filename="js/angular.min.js") }}"></script>
  <script src="{{ url_for('static', filename="js/ui-bootstrap-tpls.min.js") }}"></script>
  <script src="{{ url_for('static', filename="js/angular-ui-router.min.js") }}"></script>
  <script src="{{ url_for('static', filename="js/app.js") }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
</body>
</html>
